@font-face {
  font-family: myFirstFont;
  src: url(Obelisk-Regular.woff);
}



.header {
  font-family: myFirstFont;
  font-size: 190%;
  border-style: solid;
  border-width: 5px;
  border-color: #0730ef;
  background-color: #757575;
  border-radius: 5px;
  padding: 10%;
}
