@font-face {
  font-family: myFirstFont;
  src: url(Obelisk-Regular.woff);
}



.header {
  font-family: myFirstFont;
  font-size: 190%;
  border: 2px solid #0730ef;
  background-color: #757575;
  border-radius: 5px;
}
