@font-face {
  font-family: myFirstFont;
  src: url(Obelisk-Regular.woff);
}



header {
  font-family: myFirstFont;
  font-size: 190%;
  background-color: #757575;
  border: 5px solid red;
  padding: 10px;
}
